*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;   /*Set rem to 10px */
}

a{
    text-decoration: none;
}

img{
    width: 100%;
    max-width: 16rem;
}

body {
    background-color: #696969;
    font-family: 'Comic Neue', cursive;
}

/* Header Styles */
.header {
    background-color: #696969;
    height: 10rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.header p {
    font-family: arial;
    font-size: 2rem;
    color: #fff;
    padding-bottom: 4px;
}

.header h1 {
    font-size: 2rem;
    color: #f8b700;
}

/* Interface Styles */
.interface {
    padding: 0;
    width: 100%;
    max-width: 110rem;
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #696969;
}

.interface a {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 0;
}
  
.interface img {
    width: 12rem;
    height: 12rem;
}

.img-avatar {
    width: 16rem !important;
    height: 16rem !important;
}

.interface div {
    width: 22rem;
    padding: 0 1rem 0 2rem;
    background-color: #373737;
}

.interface a:hover div {
    background-color: #3c1d3d;
}

.interface h3 {
    font-size: 2rem;
    color: #f8b700;
    padding: 12px 0 4px;
}

.interface p {
    font-family: arial;
    font-size: 12px;
    color: #d5c8af;
    line-height: 2rem;
}

.btn-prefight {
    width: 100% !important;
    text-transform: uppercase;
    font-weight: 600;
}

/* Actions Container */
.actions {
    width: 100%;
    max-width: 60rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.actions a {
    width: 33.33%;
    padding: 1rem 0;
    text-align: center;
    font-size: 1.5rem;
    font-family: arial;
    color: #1b1b1b;
    background-color: #e72626;
}

.actions a:hover {
    opacity: 0.9;
}

/* Stadium Container */
.stadium {
    width: 100%;
    max-width: 60rem;
    margin: 0 auto;
    height: 180px;
    background-color: #1d373d;
    background-image: url("imgs/arena2.gif");
    background-position: center;
    background-repeat: no-repeat;
    visibility: hidden;
}

/* Villain Container */
.villain {
    padding: 0;
    width: 100%;
    margin: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #696969;
  }
  
.villain a {
    display: flex;
    flex-wrap: nowrap;
}

.villain img {
    width: 12rem;
    height: 12rem;
    }

.villain div {
    width: 22rem;
    padding: 0 1rem 0 2rem;
    background-color: #373737;
}

.villain a:hover div {
    background-color: #3c1d3d;
}

.villain h3 {
    font-size: 2rem;
    color: #f8b700;
    padding: 12px 0 4px;
}

.villain p {
    font-family: arial;
    font-size: 1.2rem;
    color: #d5c8af;
    line-height: 2rem;
}


/* Media Queries */
@media screen and (min-width: 600px){
    .header p {
        font-size: 3rem;

    }
    .header h1 {
        font-size: 3rem;
    }

    /* Interface */
    .interface img {
        width: 16rem;
        height: 16rem;
    }

    .interface div {
        width: 25rem;
        height: 20rem;
    }

    .interface h3{
        font-size: 2.5rem;
    }

    .interface p{
        font-size: 1.6rem;
    }

    /* Villain */
    .villain h3{
        font-size: 2.5rem;
    }

    .villain p{
        font-size: 1.6rem;
    }

    .villain div {
        width: 25rem;
        height: 20rem;
    }
    
}

/* @media screen and (min-width: 900px){
    
}

@media screen and (min-width: 1200px){
    
}

@media screen and (min-width: 1800px){
    
} */